
    <div class="container">

        <button class="button" (click)="debug()">Debug</button>

        <select (change)="deckSelected($event)">
            <option *ngFor="let deck of allDecks"
                [value]="deck.name"
                [selected]="deck.selected">
                {{deck.name}}
            </option>
        </select>

        <input type="text" placeholder="Enter your deck name" [value]="deckJson.name" (input)="onKeyDeckName($event)">
        <button class="button" (click)="saveDeck()">Save Deck</button>

        <button class="button" (click)="deleteDeck()">Delete Deck</button>

        <button class="button" (click)="newDeck()">New Deck</button>
        

        <div *ngFor="let card of deckJson.cards">
            <a (dblclick)="removeCardFromDecklist($event)">
                <img src="../../assets/image/cards/{{card.img_url}}" id="{{card.id}}">
            </a>
        </div>

        <input type="text" placeholder="Search for a card" (input)="onKeySearchByText($event)" >

        <div *ngFor="let card of cardsInSearchView">
            <a (click)="addCardToDecklist($event)">
                <img src="../../assets/image/cards/{{card.img_url}}" id="{{card.id}}">
            </a>
        </div>
    </div>


