
<!-- Row 1 -->

<div *ngIf="isHover" style="position: absolute;" [style.left.px]=xPosMouse [style.top.px]=yPosMouse>
	<div style="position: relative;">

		<!-- art -->
		<img src="./../../assets/image/cards/{{cardPrinterVariables.cardToPreview.imgUrlString}}" style="position: absolute;" [height]=cardPrinterVariables.cardPreviewHeight [width]=cardPrinterVariables.cardPreviewWidth>

		<!-- color + style -->
		<img src="./../../assets/image/cards/border-blue.png" style="position: absolute;" [height]=cardPrinterVariables.cardPreviewHeight [width]=cardPrinterVariables.cardPreviewWidth>
	
		<!-- manacost -->		
		<div *ngFor="let manacostVerifier of cardPrinterVariables.cardToPreview.manacostVerifier; let i = index" [attr.data-index]="i">
			<img *ngIf="manacostVerifier.inco" src="./../../assets/image/cards/mana-inco-x{{i}}.png" style="position: absolute;" [height]=cardPrinterVariables.cardPreviewHeight [width]=cardPrinterVariables.cardPreviewWidth>
			<!--
				<img *ngIf="manacostVerifier.inco" src="./../../assets/image/cards/mana-inco-number-{{i}}.png" style="position: absolute;" [height]=cardPrinterVariables.cardPreviewHeight [width]=cardPrinterVariables.cardPreviewWidth>
			-->
			<img *ngIf="manacostVerifier.blue" src="./../../assets/image/cards/mana-blue-x{{i}}.png" style="position: absolute;" [height]=cardPrinterVariables.cardPreviewHeight [width]=cardPrinterVariables.cardPreviewWidth>
			<img *ngIf="manacostVerifier.purple" src="./../../assets/image/cards/mana-purple-x{{i}}.png" style="position: absolute;" [height]=cardPrinterVariables.cardPreviewHeight [width]=cardPrinterVariables.cardPreviewWidth>
			<img *ngIf="manacostVerifier.green" src="./../../assets/image/cards/mana-green-x{{i}}.png" style="position: absolute;" [height]=cardPrinterVariables.cardPreviewHeight [width]=cardPrinterVariables.cardPreviewWidth>
		</div>

		<!-- Card name -->
		<span style="position: absolute; color: white; font-size: 15px; white-space: nowrap;" [style.top.px]=cardPrinterVariables.cardNamePaddingBottomPreview [style.left.px]=cardPrinterVariables.cardNamePaddingRightPreview >{{cardPrinterVariables.cardToPreview.nameString}}</span>

		<!-- Card types -->
		<div style="position: absolute;" [style.top.px]=cardPrinterVariables.typesPaddingBottomPreview [style.left.px]=cardPrinterVariables.typesPaddingRightPreview>

			<div *ngIf="cardPrinterVariables.cardToPreview.colorString === 'blue'" style="color: #6666ff; font-size: 15px; white-space: nowrap;">
				<span *ngFor="let type of cardPrinterVariables.cardToPreview.typeStringArray" >{{type}} </span>
				<span>- </span>
				<span *ngFor="let archetype of cardPrinterVariables.cardToPreview.archetypeStringArray" >{{archetype}} </span>
				<span>- </span>
				<span *ngFor="let subtype of cardPrinterVariables.cardToPreview.subtypeStringArray" >{{subtype}}</span>
			</div>

			<div *ngIf="cardPrinterVariables.cardToPreview.colorString === 'purple'" style="color: #996699; font-size: 15px; white-space: nowrap;">
				<span *ngFor="let type of cardPrinterVariables.cardToPreview.typeStringArray" >{{type}} </span>
				<span>- </span>
				<span *ngFor="let archetype of cardPrinterVariables.cardToPreview.archetypeStringArray" >{{archetype}} </span>
				<span>- </span>
				<span *ngFor="let subtype of cardPrinterVariables.cardToPreview.subtypeStringArray" >{{subtype}}</span>
			</div>

			<div *ngIf="cardPrinterVariables.cardToPreview.colorString === 'green'" style="color: #99cc99; font-size: 15px; white-space: nowrap;">
				<span *ngFor="let type of cardPrinterVariables.cardToPreview.typeStringArray" >{{type}} </span>
				<span>- </span>
				<span *ngFor="let archetype of cardPrinterVariables.cardToPreview.archetypeStringArray" >{{archetype}} </span>
				<span>- </span>
				<span *ngFor="let subtype of cardPrinterVariables.cardToPreview.subtypeStringArray" >{{subtype}}</span>
			</div>
		
			<div *ngIf="cardPrinterVariables.cardToPreview.colorString === 'void'" style="color:white; font-size: 15px; white-space: nowrap;">
				<span *ngFor="let type of cardPrinterVariables.cardToPreview.typeStringArray" >{{type}} </span>
				<span>- </span>
				<span *ngFor="let archetype of cardPrinterVariables.cardToPreview.archetypeStringArray" >{{archetype}} </span>
				<span>- </span>
				<span *ngFor="let subtype of cardPrinterVariables.cardToPreview.subtypeStringArray" >{{subtype}}</span>
			</div>
		</div>

		<!-- Artist name -->
		<span style="position: absolute; color: white; font-size: 15px; white-space: nowrap;" [style.top.px]=cardPrinterVariables.artistNamePaddingBottomPreview [style.left.px]=cardPrinterVariables.artistNamePaddingRightPreview >{{cardPrinterVariables.cardToPreview.artistNameString}}</span>

	</div>
</div>

<!-- Show username, user turn and buttons to pass priority -->
<div class="row">
	<button *ngIf="game.me.havePriority" class="col s1" (click)="passPriority()">Pass</button>
	<button *ngIf="game.me.havePriority" class="col s1" (click)="passTurn()">Pass Turn</button>
	<h6 class="col s10">{{game.myselfUser.username}} - Tour de {{game.turn.hasTurnPlayer.username}} - {{game.turn.currentPhase.phaseName}}</h6>
</div>


<!-- /////////////////////////////////////// -->
<!-- ROW containing OPP EXTRA DECK + HAND + DECK -->
<!-- /////////////////////////////////////// -->

<!-- Show your graveyard pile, clicking on it will show the entire grave (not yet tho) -->
<div class="row">

	<div class="col s1 imgbox">
		<div>
			<img class="cardback"
				src="../../assets/image/cards/cardback.png"
				[height]=cardPrinterVariables.cardHeight
				[width]=cardPrinterVariables.cardWidth
				(click)="showOpponentExtraDeck" 
				>
		</div>
	</div>

	<!-- Show hand -->
	<div class="col s10 imgbox">
		<div class="row">
			<a *ngFor="let card of game.opponent.hand">
				<!-- Playable cards, can't do anything except playing them -->
				<img *ngIf="card.playableBool" class="playable"
							src="../../assets/image/cards/{{card.imgUrlString}}"
							id="{{card.inGameIdInt}}" 
							[height]=cardPrinterVariables.imgHeight 
							[width]=cardPrinterVariables.imgWidth 
							(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
							(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
							(click)="playCard($event)"
				>

				<!-- Not Playable cards also not selectable (it's waiting position where the user can't do anything with the cards) -->
				<img *ngIf="!card.playableBool && !card.selectableBool" class=""
						src="../../assets/image/cards/{{card.imgUrlString}}"
						id="{{card.inGameIdInt}}" 
						[height]=cardPrinterVariables.imgHeight 
						[width]=cardPrinterVariables.imgWidth 
						(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
						(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
					>

				<!-- Not Playable cards but selectable but not selected -->
				<img *ngIf="!card.playableBool && card.selectableBool && !card.selectedBool" class="selectable"
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
					(click)="selectCard($event)"
			>

				<!-- Not Playable cards but selectable and selected -->
				<img *ngIf="!card.playableBool && card.selectableBool && card.selectedBool" class="selected"
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
				>
			</a>
		</div>
	</div>

	<!-- Show your deck pile, clicking on it will show the entire deck -->
	<div class="col s1 imgbox">
		<div>
			<img *ngIf="!game.opponent.isTopCardFromDeckRevealed" class="cardback" src="../../assets/image/cards/cardback.png" [height]=cardPrinterVariables.cardHeight [width]=cardPrinterVariables.cardWidth>
			<img *ngIf="game.opponent.isTopCardFromDeckRevealed" class="" 
				src="../../assets/image/cards/{{game.opponent.topCardFromDeck.imgUrlString}}"
				id="{{game.opponent.topCardFromDeck.inGameIdInt}}" 
				[height]=cardPrinterVariables.imgHeight 
				[width]=cardPrinterVariables.imgWidth 
				(mouseenter)="mouseEnterCardImg($event,null)" 
				(mouseleave)="mouseLeaveCardImg($event,null)"
				(click)="showMyDeck($event)"
			>
		</div>
	</div>
</div>

<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!--                     CARD TEST                        -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<a *ngFor="let card of game.me.hand">
	<div style="position: relative;" (mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" (mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)">
		<!-- User Interaction -->


		<!-- Color -->
		<img src="./../../assets/image/cards/border-blue.png" style="position: absolute;" [height]=cardPrinterVariables.cardHeight [width]=cardPrinterVariables.cardWidth>

		<!-- Manacost -->
		<img src="./../../assets/image/cards/mana-blue-x1.png" style="position: absolute;" [height]=cardPrinterVariables.cardHeight [width]=cardPrinterVariables.cardWidth>

		<!-- Card name -->
		<span style="position: absolute; color: white; font-size: 6px;" [style.top.px]=cardPrinterVariables.cardNamePaddingBottom [style.left.px]=cardPrinterVariables.cardNamePaddingRight >{{card.nameString}}</span>

	</div>
</a>


<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!--                     CARD TEST                        -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////// -->



<!-- /////////////////////////////////////// -->
<!-- ROW containing OPPONENT FIELD + GRAVEYARD -->
<!-- /////////////////////////////////////// -->


<div class="row">

	<!-- Show your hand -->
	<div class="col s11 imgbox">
		<div class="row">
			<a *ngFor="let card of game.opponent.field">

				<!-- Not selectable and not selected (it's waiting position where the user can't do anything with the cards) -->
				<img *ngIf="!card.selectableBool && !card.selectedBool" class=""
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
				>

				<!-- Show a selectable card -->
				<img *ngIf="card.selectableBool && !card.selectedBool" class="selectable"
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
					(click)="selectFromField($event)"
			>

			<!-- Show selected card -->
			<img *ngIf="!card.selectableBool && card.selectedBool" class="playable"
				src="../../assets/image/cards/{{card.imgUrlString}}"
				id="{{card.inGameIdInt}}" 
				[height]=cardPrinterVariables.imgHeight 
				[width]=cardPrinterVariables.imgWidth 
				(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
				(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
				(click)="unselectFromField($event)"
			>

			</a>
		</div>
	</div>

	<div class="col s1 imgbox">
		<div>
			<img *ngIf="game.opponent.isGraveyardEmpty" class="cardback" src="../../assets/image/cards/cardback.png" [height]=cardPrinterVariables.cardHeight [width]=cardPrinterVariables.cardWidth>
			<img *ngIf="!game.opponent.isGraveyardEmpty" class="" 
				src="../../assets/image/cards/{{game.opponent.lastCardFromGraveyard.imgUrlString}}"
				id="{{game.opponent.lastCardFromGraveyard.inGameIdInt}}" 
				[height]=cardPrinterVariables.imgHeight 
				[width]=cardPrinterVariables.imgWidth 
				(mouseenter)="mouseEnterCardImg($event,null)" 
				(mouseleave)="mouseLeaveCardImg($event,null)"
				(click)="showMyGraveyard($event)"
			>
		</div>
	</div>
</div>

<!-- /////////////////////////////////////// -->
<!-- ROW containing STACK -->
<!-- /////////////////////////////////////// -->

<div class="row">
	<!-- Show your field -->
	<div class="col s12 imgbox">
		<div class="row">
			<a *ngFor="let card of game.stack">

				<!-- Not selectable and not selected (it's waiting position where the user can't do anything with the cards) -->
				<img *ngIf="!card.selectableBool && !card.selectedBool" class=""
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
				>

				<!-- Show a selectable card -->
				<img *ngIf="card.selectableBool && !card.selectedBool" class="selectable"
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
					(click)="selectFromField($event)"
			>

			<!-- Show selected card -->
			<img *ngIf="!card.selectableBool && card.selectedBool" class="playable"
				src="../../assets/image/cards/{{card.imgUrlString}}"
				id="{{card.inGameIdInt}}" 
				[height]=cardPrinterVariables.imgHeight 
				[width]=cardPrinterVariables.imgWidth 
				(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
				(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
				(click)="unselectFromField($event)"
			>
			</a>
		</div>
	</div>
</div>


<!-- /////////////////////////////////////// -->
<!-- ROW containing MY FIELD + GRAVEYARD -->
<!-- /////////////////////////////////////// -->

<div class="row">

	<!-- Show your field -->
	<div class="col s11 imgbox">
		<div class="row">
			<a *ngFor="let card of game.me.field">

				<!-- Not selectable and not selected (it's waiting position where the user can't do anything with the cards) -->
				<img *ngIf="!card.selectableBool && !card.selectedBool" class=""
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
				>

				<!-- Show a selectable card -->
				<img *ngIf="card.selectableBool && !card.selectedBool" class="selectable"
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
					(click)="selectFromField($event)"
			>

			<!-- Show selected card -->
			<img *ngIf="!card.selectableBool && card.selectedBool" class="playable"
				src="../../assets/image/cards/{{card.imgUrlString}}"
				id="{{card.inGameIdInt}}" 
				[height]=cardPrinterVariables.imgHeight 
				[width]=cardPrinterVariables.imgWidth 
				(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
				(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
				(click)="unselectFromField($event)"
			>

				
			</a>
		</div>
	</div>

	<div class="col s1 imgbox">
		<div>
			<img *ngIf="game.me.isGraveyardEmpty" class="cardback" src="../../assets/image/cards/cardback.png" [height]=cardPrinterVariables.cardHeight [width]=cardPrinterVariables.cardWidth>
			<img *ngIf="!game.me.isGraveyardEmpty" class="" 
				src="../../assets/image/cards/{{game.me.lastCardFromGraveyard.imgUrlString}}"
				id="{{game.me.lastCardFromGraveyard.inGameIdInt}}" 
				[height]=cardPrinterVariables.imgHeight 
				[width]=cardPrinterVariables.imgWidth 
				(mouseenter)="mouseEnterCardImg($event,null)" 
				(mouseleave)="mouseLeaveCardImg($event,null)"
				(click)="showMyGraveyard($event)"
			>
		</div>
	</div>
</div>

<!-- /////////////////////////////////////// -->
<!-- ROW containing MY EXTRA DECK + HAND + DECK -->
<!-- /////////////////////////////////////// -->

<!-- Show your graveyard pile, clicking on it will show the entire grave -->
<div class="row">

	<div class="col s1 imgbox">
		<div>
			<img class="cardback"
				src="../../assets/image/cards/cardback.png"
				[height]=cardPrinterVariables.cardHeight
				[width]=cardPrinterVariables.cardWidth
				(click)="showMyExtraDeck" 
				>
		</div>
	</div>

	<!-- Show your hand -->
	<div class="col s10 imgbox">
		<div class="row">
			<a *ngFor="let card of game.me.hand">

				<!-- Playable cards, can't do anything except playing them -->
				<img *ngIf="card.playableBool" class="playable"
							src="../../assets/image/cards/{{card.imgUrlString}}"
							id="{{card.inGameIdInt}}" 
							[height]=cardPrinterVariables.imgHeight 
							[width]=cardPrinterVariables.imgWidth 
							(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
							(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
							(click)="playCard($event)"
				>

				<!-- Not Playable cards also not selectable (it's waiting position where the user can't do anything with the cards) -->
				<img *ngIf="!card.playableBool && !card.selectableBool" class=""
						src="../../assets/image/cards/{{card.imgUrlString}}"
						id="{{card.inGameIdInt}}" 
						[height]=cardPrinterVariables.imgHeight 
						[width]=cardPrinterVariables.imgWidth 
						(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
						(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
					>

				<!-- Not Playable cards but selectable but not selected -->
				<img *ngIf="!card.playableBool && card.selectableBool && !card.selectedBool" class="selectable"
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
					(click)="selectCard($event)"
			>

				<!-- Not Playable cards but selectable and selected -->
				<img *ngIf="!card.playableBool && card.selectableBool && card.selectedBool" class="selected"
					src="../../assets/image/cards/{{card.imgUrlString}}"
					id="{{card.inGameIdInt}}" 
					[height]=cardPrinterVariables.imgHeight 
					[width]=cardPrinterVariables.imgWidth 
					(mouseenter)="mouseEnterCardImg($event, card.inGameIdInt)" 
					(mouseleave)="mouseLeaveCardImg($event, card.inGameIdInt)"
				>
			</a>
		</div>
	</div>

	<!-- Show your deck pile, clicking on it will show the entire deck -->
	<div class="col s1 imgbox">
		<div>
			<img *ngIf="!game.me.isTopCardFromDeckRevealed" class="cardback" src="../../assets/image/cards/cardback.png" [height]=cardPrinterVariables.cardHeight [width]=cardPrinterVariables.cardWidth>
			<img *ngIf="game.me.isTopCardFromDeckRevealed" class="" 
				src="../../assets/image/cards/{{game.me.topCardFromDeck.imgUrlString}}"
				id="{{game.me.topCardFromDeck.inGameIdInt}}" 
				[height]=cardPrinterVariables.imgHeight 
				[width]=cardPrinterVariables.imgWidth 
				(mouseenter)="mouseEnterCardImg($event,null)" 
				(mouseleave)="mouseLeaveCardImg($event,null)"
				(click)="showMyDeck($event)"
			>
		</div>
	</div>
</div>